.chatItem {
    width: 100%;
    height: 69px;

    display: flex;
    text-decoration: none;
}

.activeLink {
    background: #E1F7FF;
}

.chatItem:hover {
    background: #F3F3F3;
}

.chatItem__photo {
    margin-left: 29px;
    width: 57px;
    height: 57px;
    background: black;
    border-radius: 29px;
    align-self: center;
}

.chatItem__info {
    margin: 0 0 0 15px;
    width: 190px;
    max-width: 190px;
}

.chatItem__info__username {
    margin: 10px 0 0 0;

    text-align: start;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

.chatItem__info__lastMessage {
    margin: 3px 0 0 0;

    text-align: start;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;

    color: #545454;
}

.chatItem__info__lastMessage_createdAt {
    margin: 3px 0 0 0;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    text-align: start;

    color: #8A8A8A;

}
